.loading-button {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.loading-button.right {
  flex-flow: row-reverse;
}

.loading-button.right .indicator {
  margin-left: 0.25rem;
}

.loading-button .indicator {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1rem;
  margin-right: 0.25rem;
}
